<%= form_for @task , url: {action: :update} do |f| %>
<div class="inner">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :todo, 'Todo' %>
    <%= f.text_field :todo %>
    <%= f.label :date, 'Expire', class: 'controll-label' %>
    <%= f.datetime_field :date, class: 'form-controll' %>
    <p class><%= f.label :memo, 'Memo' %>
    <%= f.text_field :memo ,size:"40" %></p>
    <%= f.select :status, ['未着手', '進行中', '完了'], selected: @task.status %>
    <%= f.submit 'Add' %>
</div>
<% end %>
