
<ul>
<%= form_for @task , url: {action: :update} do |f| %>

 <div class="example"><h4>Form</h4>  <%= f.submit 'Add' %></div>
<div class="inner">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :date, 'Expire', class: 'controll-label' %>
    <%= f.datetime_field :date, class: 'form-controll' %>
    <p ><%= f.label :memo, 'Memo' %></p>
    <p><%= f.text_area :memo ,style: "width:40%", rows: "3"%></p>
    <%= f.select :status, ['Not Start', 'In Progress', 'Completion'], selected: @task.status %>
</div>

<% end %>
</ul>
