<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>






<%= form_for @task , url: {action: :create} do |f| %>

  <% if current_user %>
<ul>
  <div class="example"><h4>Form</h4> <%= f.submit 'New To-Do' %></div>
  <div class="inner">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :date, 'Expire', class: 'controll-label' %>
    <%= f.datetime_field :date, class: 'form-controll' %>
    <p><%= f.label :memo, 'Memo' %>
    <%= f.text_field :memo ,size:"40" %></p>
  </div>
</ul>

<% end %>

<%end%>


<ul>
  <table border=5>
    <tr>
      <th>task-title</th>
      <th>date</th>
      <th>status</th>
      <th>delete</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <% if current_user %>
        <th><%= link_to task.title, task_path(task) %></th>
        <th><%= task.date %></th>
        <th><%= task.status %></th>
        
          <th><%= button_to 'delete', task_path(task), method: :delete %></th>
        <% end %>
      </tr>
    <% end %>
  </table>
</ul>


<p class="solid">
 <% if current_user %>
    <%= link_to 'Sign Out', top_logout_path %>
  <% else %>
    <%= link_to 'Sign In', top_main_path %>
  <% end %>
</p>
