<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<ul>
  
    <table border=5>
      <tr>
        <th>task-title</th>
        <th>todo</th>
        <th>date</th>
      </tr>
      <% @tasks.each do |task| %>
      <tr>
       
        <th><%= link_to task.title, task_path(task) %></th>
        <th><%= task.todo %></th>
        <th><%= task.date %></th>
        <% if current_user %>
          <th><%= button_to 'delete', task_path(task), method: :delete %></th>
        <% end %>
      </tr>
      <% end %>
    </table>
</ul>



<p>
 <% if current_user %>
    <%= link_to 'Create To-Do', new_task_path %>
    <%= link_to 'Sign Out', top_logout_path %>
  <% else %>
    <%= link_to 'Sign In', top_main_path %>
  <% end %>

  </p>