
<div class="example" >
    <div class="child">title
        <p class="solid"><%= @task.title %></p></div>
    <div class="child">date
        <p class="solid"><%= @task.date %></p></div>
   
</div>
<p class="solid">
<%= @task.memo %>
</p>
<div class="example">
<%= link_to 'Return', :back %>
<% if current_user %>
    <%= button_to 'delete', task_path(@task), method: :delete %>
    <%= link_to 'edit', edit_task_path(@task) %>
<% end %>
</div>

