<div class="example">
    <p class="solid"><%= @task.todo %></p>
    <p class="solid"><%= @task.date %></p>
</div>
<p class="solid">
<%= @task.title %>
<%= @task.memo %>
</p>
<div class="example">
<%= link_to 'Return', :back %>
<% if current_user %>
    <%= button_to 'delete', task_path(@task), method: :delete %>
    <%= button_to 'edit', edit_task_path(@task) %>
<% end %>
</div>

