<div class="example">
    <p class="solid">
        <p><%= @task.title %></p>
        <p><%= @task.date %></p>
</div>
<p class="solid">
<%= @task.memo %>
</p>
<div class="example">
<%= link_to 'Return', :back %>
<% if current_user %>
    <%= button_to 'delete', task_path(@task), method: :delete %>
    <%= link_to 'edit', edit_task_path(@task) %>
<% end %>
</div>

