
<p>
<%= @task.title %>
<%= @task.todo %>
<%= @task.date %>
<%= @task.memo %>
<% if current_user %>
    <%= button_to 'delete', task_path(@task), method: :delete %>
    <%= button_to 'edit', edit_task_path(@task) %>
<% end %>
</p>
<%= link_to 'Return', :back %>