
<p>
<%= @task.title %>
<%= @task.todo %>
<%= @task.date %>
<%= @task.memo %>
<% if current_user %>
    <%= button_to '削除', task_path(@task), method: :delete %>
    <%=link_to '編集', edit_task_path(@task) %>
<% end %>
</p>
<%= link_to '戻る', :back %>