<h1 class="inner">Sign Up</h1>
<div class="inner">
<%= form_with model: @user, local: true do |f| %>
   <div class="example"><%= f.label :Uid %>
  <%= f.text_field :uid %>

  <%= f.label :Password %>
  <%= f.password_field :password %>
   </div>

  

  <%= f.submit 'Create' %>
<% end %>
</div>